<div class="container top">
  
  <p class="head">WGBH Collection</p>
  <div class="row">
    <div class="col-md-4">
      <h1 class="col-md-offset-1">
        <% if @collection.logo_src %>
          <img src="<%= @collection.logo_src %>" alt="logo"/>
        <% else %>
          <%= @collection.title %>
        <% end %>
      </h1>
    </div>
    <div class="col-md-8 pull-right">
      <div class="tagline">
        <%= @collection.medium_html.html_safe %>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="row"> 
    <div class="col-md-8">
      <% if @collection.logo_src %>
        <img src="<%= @collection.splash_src %>" alt="splash"/>
      <% end %>
      <%= @collection.long_html.html_safe %>
    </div>
    <div class="col-md-4">
      <div>
        TODO: SEARCH
      </div>
      <div>
        <h4>Helpful Links</h4>
        <%= @collection.links_html.html_safe %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <% @collection.grid_items.each do |item| %>
      <div class="col-md-4" >
        <a href="<%= item.url %>" class="thumb">
          <%# TODO: Get rid of BRs and do it the right way. %>
          <img src="<%= item.thumbnail_url %>"><br/>
          <%= item.title %><br/>
          <small><%= item.subtitle %></small><br/><br/>
        </a>
      </div>
    <% end %>
  </div>
</div>

<br/>

<div class="container">
  <div class="row no-gutter">
    <%= render partial: 'shared/call_to_action' %>
  </div>
</div>
