<% content_for(:page_title) do %>
  <%= "#{@collection.title} | #{t('blacklight.application_name')}" %>
<% end %>

<div class="container top">
  
  <p class="head" id="wgbh-collection">WGBH Collection</p>
  <div class="row">
    <div class="col-md-4">
      <h1 class="col-md-offset-1">
        <% if @collection.logo_src %>
          <img src="<%= @collection.logo_src %>" alt="logo"/>
        <% else %>
          <%= @collection.title %>
        <% end %>
      </h1>
    </div>
    <div class="col-md-8 pull-right">
      <div class="tagline">
        <%= @collection.medium_html.html_safe %>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="row"> 
    <div class="col-md-8">
      <% if @collection.splash_src %>
        <div class="splash">
          <img src="<%= @collection.splash_src %>" alt="splash"/>
          <% if @collection.splash_url %>
            <a href="<%= @collection.splash_url %>" target="_blank" class="head">Visit Website</a>
          <% end %>
        </div>
      <% end %>
      <div class="description">
        <%= @collection.long_html.html_safe %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render partial: 'collections/collection_select' %>
      <%= render partial: 'shared/search' if @collection.path == 'digital-clips' %>
      <div>
        <h3>Helpful Links</h3>
        <%= @collection.links_html.html_safe %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <% @collection.grid_items.each do |item| %>
      <%= render partial: 'shared/thumb_3', locals: { item: item } %>
    <% end %>
  </div>
</div>

<br/>

<div class="container">
  <div class="row no-gutter">
    <%= render partial: 'shared/call_to_action' %>
  </div>
</div>