<%= render partial: 'home/masthead' %>

<br/>

<div class="container">

  <div class="row">  

    <div class="col-md-4 pull-right" id="home-right">
      <%# 
          Put this first in DOM so small devices get a call to action up top. 
          TODO: Padding isn't quite right when narrow.
      %>
 
      <%= render partial: 'shared/sidebar' %>

    </div>
    
    <div class="col-md-11 pull-left" id="home-left">
      <div class="well">
        <div class="head">
          Find Extensive Content in the WGBH Collections
        </div>
      </div>
      <div class="row">
        <% @collections.sort_by(&:order).each do |collection| %>
          <div class="col-md-5" style="float: left;" <%# Float for two columns when narrow. %> >
            <a href="/collections/<%= collection.path %>" class="thumb">
              <%# TODO: Get rid of BRs and do it the right way. %>
              <img src="<%= collection.thumbnail_url %>"><br/>
              <%= collection.title %><br/><br/>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
