<div>
  <div class="video-container">
    <video src="<%= @ids_to_cached_proxy[document.id] %>" poster="<%= document.thumb_src %>" 
           loop muted oncontextmenu="return false;" preload="none"
           onmouseover="this.play();" onmouseout="this.pause();" <%# For browsers %>
           onclick="this.paused ? this.play() : this.pause();" <%# For touch devices %>
           >
    </video>      
  </div>
  <a href="/catalog/<%= document.id %>"><%= document.clip_title %></a>
  <a href="<%= document.watermarked_src %>" target="_blank" class="pull-right"><span class="glyphicon glyphicon-download-alt"></span></a>
</div>
