<div id="content" class="container">
  <div class="row">
    <div class="pull-left col-md-9">
      <h1><%= @document.clip_title %></h1>
    </div>
    <div class="pull-right col-md-3">
      <%= render partial: 'shared/search', locals: {placeholder: "New search"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <video controls="true"
        oncontextmenu="return false;" 
        width="100%"
        poster="<%= @document.thumb_src %>"
        src="<%= @document.proxy_src %>">
      </video>
      <p>
        TODO: To order this clip, please send us an email with the the clip #ID number and title; 
      </p>
    </div>

    <div class="col-md-6">
    <%= render partial: 'catalog/field_list',
               locals: { columns: 1,
                         field_list: @document.labels_and_values( :clip_description,
                                                                  :clip_keywords) } %>
    <%= render partial: 'catalog/field_list',
               locals: { columns: 2,
                         field_list: @document.labels_and_values( :event_date,
                                                                  :event_location,
                                                                  :program,
                                                                  :series,
                                                                  :category,
                                                                  :length,
                                                                  :aspect_ratio,
                                                                  :codec,
                                                                  :digital_wrapper,
                                                                  :dimensions,
                                                                  :format,
                                                                  :type) } %>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="row no-gutter">
    <%= render partial: 'shared/call_to_action' %>
  </div>
</div>
