<% Asset.new(JSON.parse(@document.instance_variable_get('@_source')['json'])).tap do |asset| %>
  <div id="content" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= asset.clip_title %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 big-fields">
        TODO: Video Player<br/>
        <dl>
          <dt>Description</dt>
          <dd><%= asset.clip_description %></dd>
          
          <dt>Keywords</dt>
          <dd><%= asset.clip_keywords %></dd>
          
          <dt>Category</dt>
          <dd><%= asset.category %></dd>
        </dl>
      </div>
      <div class="col-md-3 small-fields">
        <dl>
          <dt>Aspect Ratio</dt>
          <dd><%= asset.aspect_ratio %></dd>
          
          <dt>Codec</dt>
          <dd><%= asset.codec %></dd>
          
          <dt>Digital Wrapper</dt>
          <dd><%= asset.digital_wrapper %></dd>
          
          <dt>Dimensions</dt>
          <dd><%= asset.dimensions %></dd>
          
          <dt>Date</dt>
          <dd><%= asset.event_date %></dd>
          
          <dt>Event Location</dt>
          <dd><%= asset.event_date %></dd>
          
          <dt>Format</dt>
          <dd><%= asset.format %></dd>
          
          <dt>FPS</dt>
          <dd><%= asset.frames_per_second %></dd>
  
          <dt>Episode Number</dt>
          <dd><%= asset.episode_number %></dd>
          
          <dt>Event Date</dt>
          <dd><%= asset.event_date %></dd>
          
          <dt>Event Location</dt>
          <dd><%= asset.event_location %></dd>
          
          <dt>Length</dt>
          <dd><%= asset.format %></dd>
  
          <dt>Length</dt>
          <dd><%= asset.frames_per_second %></dd>
          
          <dt>Origin</dt>
          <dd><%= asset.origin %></dd>
          
          <dt>Program</dt>
          <dd><%= asset.program %></dd>
          
          <dt>Series</dt>
          <dd><%= asset.series %></dd>
  
          <dt>Type</dt>
          <dd><%= asset.type %></dd>
        </dl>
      </div>
    </div>
  </div>
<% end %>

<br/>

<div class="container">
  <div class="row no-gutter">
    <%= render partial: 'shared/call_to_action' %>
  </div>
</div>