<% Asset.new(JSON.parse(@document.instance_variable_get('@_source')['json'])).tap do |asset| %>
  <div id="content" class="container">
    <div class="row">
      <div class="pull-left col-md-9">
        <h1><%= asset.clip_title %></h1>
      </div>
      <div class="pull-right col-md-3">
        <%= render partial: 'shared/search', locals: {placeholder: "New search"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <video controls="true"
          oncontextmenu="return false;" 
          width="100%"
          poster="<%= asset.thumb_src %>"
          src="<%= asset.proxy_src %>">
        </video>
        <p>
          TODO: Allison, put your message here.
        </p>
      </div>
      <% [{ class: 'col-md-6', fields: %w(clip_description clip_keywords)},
          { class: 'col-md-3', fields: %w(event_date event_location program series category)},
          { class: 'col-md-3', fields: %w(length aspect_ratio codec digital_wrapper dimensions format type)}].each do |col| %>
        <div class="<%= col[:class] %>">
          <%= render partial: 'catalog/field_list', 
                     locals: {
                        asset: asset, 
                        fields: col[:fields]
                      } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<br/>

<div class="container">
  <div class="row no-gutter">
    <%= render partial: 'shared/call_to_action' %>
  </div>
</div>