<div id="content" class="container">
  <%= render partial: 'catalog/search_header_form_and_contact' %>
  <hr />
  <div class="row">
    <div class="col-md-6 pull-left">
      <h1><%= @document.clip_title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <video controls="true"
        oncontextmenu="return false;" 
        width="100%"
        poster="<%= @document.thumb_src %>"
        src="<%= @document.proxy_src %>">
      </video>
      <p>
          
        <% host = 'wgbh-stock-sales.myshopify.com' %>
        <div data-embed_type="product" 
             data-shop="<%= host %>" 
             data-product_name="<%= @document.clip_title %>" 
             data-product_handle="<%= @document.id %>" 
             data-has_image="false" 
             data-display_size="compact" 
             data-redirect_to="checkout" 
             data-buy_button_text="Buy now" 
             data-buy_button_out_of_stock_text="Out of Stock" 
             data-buy_button_product_unavailable_text="Unavailable" 
             data-button_background_color="7db461" 
             data-button_text_color="ffffff" 
             data-product_modal="false" 
             data-product_title_color="000000" 
             data-next_page_button_text="Next page"></div>
        <script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
        <noscript><a href="https://<%= host %>/cart/15193476999:1" target="_blank">
          Buy <%= @document.clip_title %>
        </a></noscript>

      </p>
    </div>

    <div class="col-md-6">
    <%= render partial: 'catalog/field_list',
               locals: { columns: 1,
                         field_list: @document.labels_and_values( :clip_description,
                                                                  :clip_keywords) } %>
    <%= render partial: 'catalog/field_list',
               locals: { columns: 2,
                         field_list: @document.labels_and_values( :id,
                                                                  :event_date,
                                                                  :event_location,
                                                                  :program,
                                                                  :series,
                                                                  :category,
                                                                  :length,
                                                                  :aspect_ratio,
                                                                  :codec,
                                                                  :digital_wrapper,
                                                                  :dimensions,
                                                                  :format,
                                                                  :type) } %>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="row no-gutter">
    <%= render partial: 'shared/call_to_action' %>
  </div>
</div>
